<% question = attempt.question %>

<div class="quiz-question">
	Question <%=attempt_counter + 1%> of <%=@questions.count%> | Score: XXX
		<hr />
		<span class="question-text"><%= markdown question.question_text %></span><br />
		<%= render "questions/response_box", attempt: attempt%>
</div>




