<div class="prompt">
	<div class="video">
		<iframe width="560" height="315" src="<%=@question.video_clip_source%>&rel=0&autoplay=1" frameborder="1" allowfullscreen></iframe>
  </div>
  <div class= "transcript">
    <%= markdown @question.transcript %>
  </div>
</div>

