<div class="prompt">
	<div class="video">
		<iframe width="560" height="315" src="<%=@question.video_clip_source%>" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class= "transcript">
  	<h4> Transcript: </h4>
    <%= @question.transcript %>
  </div>
  <h4> <%= link_to 'Watch Full Video', '#' %> | <%= link_to 'Read Notes', '#' %></h4>
</div><br />

<div id="show-question">
  <i class="icon-question-sign"></i> Show or Hide Question
</div>
