<% provide(:title, @question.objective) %>
<section>
<%= render 'shared/course_info' %>
<%= render 'shared/lesson_intro' %>
<%= render 'shared/question_box' %>
<%= render 'shared/resources' %>
Download Document | Share Lesson
</section>
