<%= provide(:title, 'Quiz' + @quiz.id.to_s) %>

<section>
<% @questions.each do |question| %>
	<%= render 'questions/question', question: question %>
<% end %>

<a class="next-section btn btn-large btn-primary btn-next" href="#"><i class="icon-circle-arrow-right"></i> Next</a>
</section>