<% provide(:title, 'Welcome') %>

<section>
	<div class="center hero-unit">
		<h1>Education For All </h1>

		<p>
			CourseSky wants everyone to be able to learn online, free of charge! Teachers and experts create courses using open content.  Students take free, engaging online courses.
		</p>

		<%= link_to "Get Started Now!", '#', class: "btn btn-large btn-primary" %>
	</div>
</section>

<%= render 'shared/browse' %>

<h2> FEATURED COURSES: </h2>
<%= render 'shared/course_box' %>


