<% provide(:title, 'Welcome') %>

<section>
	<div class="center hero-unit">
		<h1>Free Courses. Online. Open</h1>

		<p>
			Start learning now with CourseSky's middle and high school courses. Watch video lectures, download notes, and take quizzes to test your knowledge. Go at your own pace, take control of your learning. 
		</p>

		<%= link_to "Create my free acccount!", '#', class: "btn btn-large btn-primary" %>
	</div>
</section>
<section>
	<%= render 'shared/browse' %>
	<h2> FEATURED COURSES: </h2>
	<%= render 'shared/course_box' %>
</section>


