<% provide(:title, 'Welcome') %>
<section>
  <div class="center">
    <h1><span class="control">Take control of your learning.</span><br />
      Free, interactive, college-prep courses</h1>
  </div>
</section>
	<%= render 'shared/course_box' %>
<br />
