<% provide(:title, 'Welcome') %>
<section>
  <div class="center">
    <h1><span class="control">Take control of your learning. Take control of your future.</span><br />
      Free, Interactive college-prep courses</h1>
  </div>
</section>
<section>
  <%= render 'shared/course_box' %>
</section><br />

<%= form_tag courses_path, class: "search",method: :get do %>
        <%= text_field_tag :query, params[:query], placeholder: "Search courses" %>

        <% end %>
