<% provide(:title, 'Welcome') %>

<section>
	<div class="center hero-unit">
		<h1>Take control of your learning </h1>
		<h2>Online classes for middle and high school. 100% Free. Choose a subject below to get started</h2>
	</div>
</section>
<section>
	<%= render 'shared/course_box' %>
</section>
<p>
	<h4> Educators: CourseSky is an open education resource. You are free to use, distribute, and remix our content. <%= link_to 'Learn more!', '#' %></h4>
</p>