<% provide(:title, 'Teach A Course') %>
<h2> Do you think all students deserve the chance to learn? </h2>

Then help us make it happen! Here's why you should be excited about CourseSky: <br />

<ul>
	<li> Our content is CC-BY: this means you use what you find on our site to help your students learn: download it, share it, remix it, adapt it...
	</li>
	<li> We're going to build the world's first collection of free K-12 courses
	</li>
	<li> Coming soon: usable and user-friendly data for teachers and schools
	</li>
</ul>

<br />
<h2>Ready to get involved? Contact us!</h2>
