<% provide(:title, 'Teach A Course') %>

<p>
	<h2>Are you a teacher or expert? Do you want to join the movement to provide quality, affordable education to all students? Then help CourseSky build the world’s first collection of open K-12 courses!</h2>
</p>

<p>
	<h3> How It Works </h3>
	<ol>
		<li> Create and Curate </li>
		<li> Publish</li>
		<li> Teach the world! </li>
	</ol>
</p>

<%=link_to "Create a Course", new_course_path, class: "btn btn-primary" %>
