<div class="content-box">
	<div class="video">
		<iframe width="560" height="315" src="<%=video.video_clip_source%>&rel=0" frameborder="1" allowfullscreen></iframe>
	</div>
	<div class= "transcript">
		<%= markdown video.transcript %>
	</div>
</div>
