<div class="browse">
	<h2> Browse by Subject </h2>
	<% @categories.each do |category| %>
	<p>
		<h3><%= link_to category.name.upcase, category_path(category) %></h3>
		<% category.children.order(:name).each do |child| %>
		<%= link_to child.name, category_path(child) %>, 
		<% end %>
	</p>
	<% end %> 
</div>