<div class="course-top-nav">
	<span class="main-course-title"><%= @course.title %></span>
	<span class="nav-course-links">
	  <%= link_to "Back to main course edit page", manage_course_path(@course) %> 
	</span>
</div>