<div class="course-top-nav">
	<span class="course-nav-title"><%= @course.title %></span>
	<span class="course-nav-links">
	  <%= link_to "About the Course", course_path(@course) %> |
	  <%= link_to "Learn", lessons_course_path(@course) %> |
	  <%= link_to "My Progress", progress_course_path(@course) %>
	</span>
	<hr />
</div>
