<section class="intro">
  <div class="start">
    Lesson: <%= @lesson.title%>
  </div>
  <div class="pull-right">
  	<span class="badge badge-inverse"> <%= @question.position %>/<%= @lesson.questions.count %></span>
  </div>
</section>
