You can add html tags (emphasis, lists, links, etc.) using <a href="http://daringfireball.net/projects/markdown/basics"> markdown. </a>
<br/>
Use <code>$...$</code> for inline math and <code>$$...$$</code> for whole line math.

