<section class="sidebar">
	<ul>
		<li><%= link_to "About CourseSky", about_path %></li>
		<li><%= link_to "How It Works", howitworks_path %></li>
		<li><%= link_to "Our Team", team_path %></li>
		<li><%= link_to "Join Us", careers_path %></li>
	</ul>
</section>