<div>
	<ol class="progress-bar">
		<% @lesson.questions.order(:position).each do |q| %>
		<li>
			<% if current_user %>
				<% if current_user.has_answered?(q) %>
					<%= link_to image_tag("closedcircle.png"), q %>
				<% else %>
					<%= link_to image_tag("opencircle.png"), q %>
				<% end %>
			<% else %>
				<%= link_to image_tag("opencircle.png"), q %>
			<% end %>
		</li>
		<% end %>
	</ol>
</div>