<div class="learning-resources">
	<h2> Need Help with this topic? You can:</h2>
	<h3><%= link_to 'Watch a Video', @lesson.video_source, target: '_blank' %> |
		<%= link_to 'Read Lesson Notes', @lesson.document_url, target: '_blank' %> |	
	<%= link_to 'Ask in the Discussion Group', '#' %></h3>
</div>