<% video = Concept.find(@activity.activity_id) %>

<div class="activity-concept">
  <div class="concept-area">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#video" data-toggle="tab">
        <i class="icon-play-circle icon-large"></i></a>
      </li>
      <li><a href="#text" data-toggle="tab">
        <i class="icon-file-alt icon-large"></i></a>
      </li>
    </ul>
      
    <div class="tab-content">
      <div class="tab-pane active" id="video">
        <iframe width="853" height="480" src="<%=video.video_clip_source%>" frameborder="1" allowfullscreen></iframe>
      </div>
      <div class="tab-pane" id="text">
        <%= markdown video.doc %>
      </div>
    </div>
  </div>
   <%= render 'lesson_nav' %>
</div>





