<%= provide(:title, 'About CourseSky') %>

<h1> About Us </h1>
<h2>
CourseSky is an online learning platform that provides free, interactive, college-prep courses. Here's what we offer: </h2>
<ul>
	<li> Conversation Learning: Forget boring lecture videos & long notes. Our platform is like learning from a private tutor</li>
	<li> A focus on college-prep: Anyone who wants to go to college should be academically prepared to do so. We're creating courses based on rigorous, college-prep curricula like AP. Challenging? Yes. Doable? Absolutely with CourseSky!  We’ll help you master these courses and be college-ready. </li>
	<li> Learning Community: Learning alone is hard! We're building a global classroom where we can learn from each other!</li>
</ul>

