<%= provide(:title, 'About CourseSky') %>
<div id="about" class="about_page">
	<div class="container">
		<!-- header -->
		<h2 class="section_header">
			<hr class="left visible-desktop">
			<span>About Us</span>
			<hr class="right visible-desktop">
		</h2>
		<div class="row">
			<div>
				<h3 class="intro">
					CourseSky is on a mission to help every high school student get college-ready. Our online courses help you master the core subjects you need for college. Learn at your own pace with interactive video, practice problems, and more. 
				</h3>
			</div>
		</div>
		<!-- description -->
		<div class="row">
			<div class="span6">
				<p>
					<h4> Why we started CourseSky</h4><br />
					Too many students leave high school unprepared for college and nearly 40% of college freshmen have to take remedial courses. In our years tutoring high school students, we saw many motivated students struggle to be prepared for college, because of poor instruction and background. We started CourseSky to bridge the knowledge gap between what students have access to at their schools, and what they need to be successful in college.<br>
				</p>
			</div>
			<div class="span6">
				<p>
					<h4> What we offer</h4><br />
					We believe that all learners deserve quality instruction, support, and information that will help them learn better and faster. CourseSky will offer the courses that learners need to succeed in college. We're starting with Algebra 1 because research [link] shows that success in Algebra is a key indicator of success in future math courses, and in college. <br>
				</p>
			</div>
		</div>
		<!-- header -->
		<h2 class="section_header team">
			<hr class="left visible-desktop">
			<span>Our Team</span>
			<hr class="right visible-desktop">
		</h2>
		<div class="row">
			<div class="span6 teammate">
				<img src="assets/tai_circle.gif" class="" />
				<h5>Ope Bukola</h5>
				<p>Co-Founder/CEO</p>
				<hr>
				<p class="description">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sapien dui. Vestibulum cursus, leo vel iaculis pretium, eros risus vestibulum elit, eget consectetur justo urna eu eros. Sed arcu tellus, rutrum non molestie nec, vehicula vitae mi. Praesent a mi quis odio pharetra malesuada. Sed consectetur egestas orci, ac tristique orci interdum eu. Proin hendrerit sollicitudin venenatis. Donec ac elit orci, tristique luctus eros. Maecenas venenatis urna eu justo euismod consequat. Mauris blandit lorem ac urna ornare quis dignissim mi scelerisque. Nulla commodo nibh quis urna fermentum volutpat vitae quis lectus. Morbi semper sem libero. Nam augue arcu, dignissim vitae interdum suscipit, eleifend sed neque.
				</p>
				<div class="social">
					<a href="#">
                        <i class="icon-envelope"></i>
                    </a>
                    <a href="#">
                        <i class="icon-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="icon-linkedin"></i>
                    </a>
				</div>
			</div>
			<div class="span6 teammate">
				<img src="assets/tai_circle.gif" class="" />
				<h5>Tai Abrams</h5>
				<p>Co-Founder / COO</p>
				<hr>
				<p class="description">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sapien dui. Vestibulum cursus, leo vel iaculis pretium, eros risus vestibulum elit, eget consectetur justo urna eu eros. Sed arcu tellus, rutrum non molestie nec, vehicula vitae mi. Praesent a mi quis odio pharetra malesuada. Sed consectetur egestas orci, ac tristique orci interdum eu. Proin hendrerit sollicitudin venenatis. Donec ac elit orci, tristique luctus eros. Maecenas venenatis urna eu justo euismod consequat. Mauris blandit lorem ac urna ornare quis dignissim mi scelerisque. Nulla commodo nibh quis urna fermentum volutpat vitae quis lectus. Morbi semper sem libero. Nam augue arcu, dignissim vitae interdum suscipit, eleifend sed neque.
				</p>
				<div class="social">
					<a href="#">
						<i class="icon-envelope"></i>
					</a>
					<a href="#">
						<i class="icon-twitter"></i>
					</a>
					<a href="#">
						<i class="icon-linkedin"></i>
					</a>
				</div>
			</div>
			<h2 class="section_header team">
			<hr class="left visible-desktop">
			<span>Interns</span>
			<hr class="right visible-desktop">
		</h2>
		<div class="span3 teammate">
                    <img src="img/about.png" class="" />
                      <h5>Angelica Pickles</h5>
                    <p>Chief Awesomeness Officer</p>
                    <hr>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sapien dui. Vestibulum cursus, leo vel iaculis pretium, eros risus vestibulum elit, eget consectetur justo urna eu eros. Sed arcu tellus, rutrum non molestie nec, vehicula vitae mi. Praesent a mi quis odio pharetra malesuada. Sed consectetur egestas orci, ac tristique orci interdum eu.
                    </p>
                    <div class="social">
                        <a href="#">
                            <i class="social tw"></i>
                        </a>
                        <a href="#">
                            <i class="social fb"></i>
                        </a>
                        <a href="#">
                            <i class="social gp"></i>
                        </a>
                        <a href="#">
                            <i class="social pin"></i>
                        </a>
                    </div>
                </div>
                <div class="span3 teammate">
                    <img src="img/about.png" class="" />
                     <h5>Angelica Pickles</h5>
                    <p>Chief Awesomeness Officer</p>
                    <hr>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sapien dui. Vestibulum cursus, leo vel iaculis pretium, eros risus vestibulum elit, eget consectetur justo urna eu eros. Sed arcu tellus, rutrum non molestie nec, vehicula vitae mi. Praesent a mi quis odio pharetra malesuada. Sed consectetur egestas orci, ac tristique orci interdum eu.
                    </p>
                    <div class="social">
                        <a href="#">
                            <i class="social tw"></i>
                        </a>
                        <a href="#">
                            <i class="social fb"></i>
                        </a>
                        <a href="#">
                            <i class="social gp"></i>
                        </a>
                        <a href="#">
                            <i class="social pin"></i>
                        </a>
                    </div>
                </div>
                <div class="span3 teammate">
                    <img src="img/about.png" class="" />
                      <h5>Angelica Pickles</h5>
                    <p>Chief Awesomeness Officer</p>
                    <hr>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sapien dui. Vestibulum cursus, leo vel iaculis pretium, eros risus vestibulum elit, eget consectetur justo urna eu eros. Sed arcu tellus, rutrum non molestie nec, vehicula vitae mi. Praesent a mi quis odio pharetra malesuada. Sed consectetur egestas orci, ac tristique orci interdum eu.
                    </p>
                    <div class="social">
                        <a href="#">
                            <i class="social tw"></i>
                        </a>
                        <a href="#">
                            <i class="social fb"></i>
                        </a>
                        <a href="#">
                            <i class="social gp"></i>
                        </a>
                        <a href="#">
                            <i class="social pin"></i>
                        </a>
                    </div>
                </div>
                <div class="span3 teammate">
                    <img src="img/about.png" class="" />
                    <h5>Angelica Pickles</h5>
                    <p>Chief Awesomeness Officer</p>
                    <hr>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sapien dui. Vestibulum cursus, leo vel iaculis pretium, eros risus vestibulum elit, eget consectetur justo urna eu eros. Sed arcu tellus, rutrum non molestie nec, vehicula vitae mi. Praesent a mi quis odio pharetra malesuada. Sed consectetur egestas orci, ac tristique orci interdum eu.
                    </p>
                    <div class="social">
                        <a href="#">
                            <i class="social tw"></i>
                        </a>
                        <a href="#">
                            <i class="social fb"></i>
                        </a>
                        <a href="#">
                            <i class="social gp"></i>
                        </a>
                        <a href="#">
                            <i class="social pin"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

