<%= provide(:title, 'About CourseSky') %>
<div id="about" class="about_page">
	<div class="container">
		<%= render 'shared/pages_sidebar' %>
		<!-- about header -->
		<div class="static-content">
			<h2 class="section_header">
				<hr class="left visible-desktop">
				<span>About CourseSky</span>
				<hr class="right visible-desktop">
			</h2>
			<h3 class="section_small_header"> What We Believe</h3>
			<div class="row">
				<div>
					<h4 class="intro">
						 CourseSky wants every learner to have the opportunity to learn and succeed. Too many students leave high school unprepared for college, and nearly 40% of college freshmen have to take remedial courses. It doesn't have to be this way. That's why we're building a collection of academic courses designed to help every student prepare for college admission and success.
					</h4>
				</div>
			</div>
			<h3 class="section_small_header"> What We Offer</h3>
			<div class="row">
				<div>
					<h4 class="intro">
						 CourseSky provides interactive, online courses to help students get college-ready. Our first course is Algebra 1, with many more to come. Our platform let you learn when and how you want. Every concept includes video and text explanations, as well as practice problems to help you build mastery. 
					</h4>
				</div>
			</div>
			<a href="/users/sign_up" class="btn btn-success btn-large btn-start"><i class="icon-white icon-ok"></i> Get Started Now (it's free!)</a> 
    </div>
  </div>
</div>
