<%= provide(:title, 'About CourseSky') %>
<div id="about" class="about_page">
	<div class="container">
		<!-- header -->
		<h2 class="section_header">
			<hr class="left visible-desktop">
			<span>About Us</span>
			<hr class="right visible-desktop">
		</h2>
		<div class="row">
			<div>
				<h3 class="intro">
					CourseSky is on a mission to help every high school student become college-ready.   Our online courses help students master the core subjects needed to gain admission to and succeed in college.

			</div>
		</div>
		<!-- description -->
		<div class="row">
			<div class="span6">
				<p>
					<h3> Why Choose Us</h3><br />
					We believe that all learners deserve quality academic instruction and support. For those who aspire to college, CourseSky will offer courses that will prepare them for admission and for success. We're starting with Algebra 1 because research shows that success in Algebra is a key indicator of post-secondary success.  Our platform allows learners to learn at their own pace, with interactive video lessons, practice problems, and personalized skills reporting. 

<br>
				</p>
			</div>
			<div class="span6">
				<p>
					<h3> Why We Started CourseSky</h3><br />
					Too many students leave high school unprepared for college and nearly 40% of college freshmen have to take remedial courses. In our years tutoring high school students, we saw many motivated students struggle due to poor instruction. Their families could not afford extra academic support, and the potential of bright students went unrealized. But the great news is that learners are no longer limited to what their schools offer. With CourseSky, every student can reach his or her full academic potential.
				</p>
			</div>
		</div>
		<!-- header -->
		<h2 class="section_header team">
			<hr class="left visible-desktop">
			<span>Our Team</span>
			<hr class="right visible-desktop">
		</h2>
		<div class="row">
			<div class="span6 teammate">
				<img src="assets/ope_200.jpg" class="" />
				<h4>Ope Bukola</h4>
				<p>Co-Founder/CEO</p>
				<hr>
				<p class="description">
					Ope first became interested in education during college while working as a home-school teacher and tutor.  She realized that many students had the motivation to succeed, but could not afford the best resources. She spent many years working in education before deciding to launch CourseSky to increase access to education for all students. Prior to starting CourseSky, Ope managed partnerships and marketing efforts for a non-profit provider of open-source textbooks. She's also worked in higher education and management consulting. She is a self-taught web developer, and a graduate of New York University where she earned a joint degree in Economics & Mathematics. When she’s not working on CourseSky, Ope enjoys listening to podcasts, reading magazines, blogging, and taking classes. She frequently enrolls in MOOCs, and not-so-frequently completes them. 


				</p>
				<div class="social">
					<a href="mailto:ope@coursesky.com" target="_blank">
                        <i class="icon-envelope"></i>
                    </a>
                    <a href="https://twitter.com/ope_bukola" target="_blank">
                        <i class="icon-twitter"></i>
                    </a>
                    <a href="http://www.linkedin.com/in/opebukola" target="_blank">
                        <i class="icon-linkedin"></i>
                    </a>
				</div>
			</div>
			<div class="span6 teammate">
				<img src="assets/tai_200.jpg" class="" />
				<h4>Tai Abrams</h4>
				<p>Co-Founder/COO</p>
				<hr>
				<p class="description">
					As the COO and co-founder at CourseSky, Taiesha is responsible for ensuring that students receive the best online educational experience. She is an education entrepreneur with a passion to use technology to improve K-12 education. Taiesha has served as a Teach for America corps member and mathematics teacher at KIPP NYC College Prep in New York City. Her passion for education led her to start tutoring more aggressively with inner city students in the Brooklyn, NY area where she has made major strides as an educator by using alternate approaches to learning. She is a native New Yorker who attended Bronx Science then Duke University and is excited about the impact of technology on the education space. When not at CourseSky, Taiesha is modeling for the latest high fashion magazines, photographers and runway shows. If you need tips on how to maintain a healthy lifestyle, give her a ring.
				</p>
				<div class="social">
					<a href="mailto:tai@coursesky.com" target="_blank">
						<i class="icon-envelope"></i>
					</a>
					<a href="https://twitter.com/tai_abrams" target="_blank">
						<i class="icon-twitter"></i>
					</a>
					<a href="#">
						<a href="http://www.linkedin.com/in/taieshaabrams" target="_blank">
                        <i class="icon-linkedin"></i>
					</a>
				</div>
			</div>
        </div>
    </div>

