<%= provide(:title, 'Join Us!') %>

<div id="about" class="about_page">
	<div class="container">
		<%= render 'shared/pages_sidebar' %>
		<!-- join header -->
		<div class="static-content">
			<h2 class="section_header">
				<hr class="left visible-desktop">
				<span>Join Our Team!</span>
				<hr class="right visible-desktop">
			</h2>
			<h3 class="section_small_header"> Lead Developer </h3>
			<div class="row">
				<div>
					<h4 class="intro">
						We’re looking for an experienced full-stack web developer. You'll own the stack and be responsible for managing others as we grow. This could be you if:<ul class="careers">
							<li>You’re passionate about education; you have a strong perspective on the future of learning and believe technology will democratize learning</li>
							<li>You’re a self starter and have experience working on small teams</li>
							<li>You have strong knowledge of modern web frameworks (e.g., Rails, Django)</li>
							<li> We use: Ruby, Ruby on Rails, Javascript (JQuery), RSpec, Heroku, AWS</li>
						</ul>
					</h4>
				</div>
			</div>
			<h3 class="section_small_header"> Content Manager </h3>
			<div class="row">
				<div>
					<h4 class="intro">
						We’re looking for a talented educator to own the content development process, and to build and curate courses.  This could be you if:
						<ul class="careers">
							<li>You’re passionate about education; you have a strong perspective on the future of learning and believe technology can be used to democratize learning</li>
							<li>You’re a self starter and have experience working on small teams</li>
							<li>You have experience in building curriculum at the high-school level; you’re been a teacher or  instructional designer</li>
							<li> You’re familiar with Common Core, Advanced Placement, International Baccalaureate and other education standards and taxonomies</li>
						</ul>
					</h4>
				</div>
			</div>
			<h3 class="section_small_header">Strategic Partnerships Manager</h3>
			<div class="row">
				<div>
					<h4 class="intro">
						We’re looking for a smart, energetic individual to develop and manage relationships with schools and partner organizations. This could be you if:
						<ul class="careers">
							<li>You’re passionate about education; you have a strong perspective on the future of learning and believe technology can be used to democratize learning</li>
							<li>You’re a self starter and have experience working on small teams</li>
							<li>You have impeccable interpersonal and communication skills</li>
							<li>You’re tech saavy and have strong quantitative skills; you’ll be responsible for measuring the impact of our work, testing new ideas, and making recommendations for product improvements</li>
							<li>You have experience working with high-school educators; former teachers are a plus!</li>
						</ul>
					</h4>
				</div>
			</div>
			<h3 class="section_small_header"> Interested? </h3>
			<div class="row">
				<div>
					<h4 class="intro">
						Email <a href="mailto:info@coursesky.com" "target=_blank">info@coursesky.com</a> and let’s start the conversation. Please include a brief paragraph about yourself and links to professional profiles (e.g., Github, Stack Overflow, LinkedIn, Twitter).
					</h4>
				</div>
			</div>
			<h3 class="section_small_header"> Interns </h3>
			<div class="row">
				<div>
					<h4 class="intro">
						Still in school? We have internship opportunities available. Check out our <a href="http://blog.coursesky.com/interns/" target="_blank">blog</a> for the latest!
					</h4>
				</div>
			</div>	
		</div>
  </div>
</div>