<%= provide(:title, 'Join Us!') %>

<h1> Join Us </h1>

<h2> CourseSky is building a collection of interactive, open courses for college-prep. Let's start a learning revolution together! </h2> 

<h3>Lead Software Engineer</h3>

<p> We’re looking for an experienced full-stack web developer. You'll own the stack and be responsible for managing others as we grow. This could be you if:
</p>
<ul>
	<li>You’re passionate about education; you have a strong perspective on the future of learning and believe technology will democratize learning</li>
	<li>You’re excited to join an early stage startup; you want to build something from the ground up</li>
	<li>You're a life-long learner; try-fail-learn-try again sounds like a perfect rhythm</li>
	<li> You have experience with some/all of the following: Ruby, Ruby on Rails, Javascript, HTML, CSS, RSpec, Heroku, AWS</li>
</ul>


<h3>Interested?</h3>
<p> Email <a href="mailto:info@coursesky.com" "target=_blank">info@coursesky.com</a> and let’s start the conversation. Include links to professional profiles (Github, Stack Overflow, LinkedIn, Twitter)
</p>

<hr />
<h3>Intern at CourseSky!</h3>

Still in school or looking for a part-time commitment? We have internship opportunities for high school, college, and grad students. Check out our <a href="http://blog.coursesky.com/joinus" target="_blank">blog</a> for the latest!