<% provide(:title, 'Welcome') %>
<section>
	<div class="home-hero">
	  <div class="main-text">
	    <h1>Take control of your learning</h1><br />
	      <h2><span class="subtext">Online courses to help you learn, practice, and get college-ready</span></h2><br />
	      <a href="/users/sign_up" class="btn btn-success btn-large btn-join"><i class="icon-white icon-ok"></i> Get Started Now (it's free!)</a> 
	  </div>
	</div>
</section>
	<%= render 'shared/course_box' %>
<br />
