<%= provide(:title, 'How CourseSky Works') %>
<div id="about" class="about_page">
	<div class="container">
		<%= render 'shared/pages_sidebar' %>
		<!-- about header -->
		<div class="static-content">
			<h2 class="section_header">
				<hr class="left visible-desktop">
				<span>How CourseSky Works</span>
				<hr class="right visible-desktop">
			</h2>
			<h3 class="section_small_header"> 1. Create An Account </h3>
			<div class="row">
				<div>
					<h4 class="intro">
						 Create a free account with your email address or sign up with your facebook account. 
						 <img src="assets/how-account.jpg" class="" />
					</h4>
				</div>
			</div>
			<h3 class="section_small_header"> 2. Choose What You Want to Learn </h3>
			<div class="row">
				<div>
					<h4 class="intro">
						Select a lesson, or start in the beginning to go through the entire course.
						<img src="assets/how-learn.jpg" class="" />
					</h4>
				</div>
			</div>
			<h3 class="section_small_header"> 3. Watch, Read, Pratice </h3>
			<div class="row">
				<div>
					<h4 class="intro">
						 Choose how you want to learn! You can watch a video or read a summary of each concept. Click "Next" to try practice questions or go to the next concept.
						 <img src="assets/how-watch.jpg" class="" />
					</h4>
				</div>
			</div>
			<h3 class="section_small_header"> 4. Track Your Progress </h3>
			<div class="row">
				<div>
					<h4 class="intro">
						 Click "Concepts & Questions," to see your progress in a lesson or select "My Progress" to see how you're doing in the course. 
						 <img src="assets/how-progress.jpg" class="" />
					</h4>
				</div>
			</div>
			<div class="row">
				<a href="/users/sign_up" class="btn btn-success btn-large btn-start"><i class="icon-white icon-ok"></i> Get Started Now (it's free!)</a> 
			</div>
		</div>
  </div>
</div>
