<%= provide(:title, 'How CourseSky Works') %>
<div id="about" class="about_page">
	<div class="container">
		<%= render 'shared/pages_sidebar' %>
		<!-- about header -->
		<div class="static-content">
			<h2 class="section_header">
				<hr class="left visible-desktop">
				<span>How CourseSky Works</span>
				<hr class="right visible-desktop">
			</h2>
			<h3 class="section_small_header"> 1. Create An Account </h3>
			<div class="row">
				<div>
					<h4 class="intro">
						 Too many students leave high school unprepared for college, and nearly 40% of college freshmen have to take remedial courses. CourseSky will offer every student the academic courses needed to prepare for college  admission and success. Learn at your own pace with videos, practice problems, and personalized skill reports. <a href="/users/sign_up">Start Learning Now!</a>
					</h4>
				</div>
			</div>
			<h3 class="section_small_header"> 2. Choose What You Want to Learn </h3>
			<div class="row">
				<div>
					<h4 class="intro">
						 Too many students leave high school unprepared for college, and nearly 40% of college freshmen have to take remedial courses. CourseSky will offer every student the academic courses needed to prepare for college  admission and success. Learn at your own pace with videos, practice problems, and personalized skill reports. <a href="/users/sign_up">Start Learning Now!</a>
					</h4>
				</div>
			</div>
			<h3 class="section_small_header"> 3. Watch, Read, Pratice </h3>
			<div class="row">
				<div>
					<h4 class="intro">
						 Too many students leave high school unprepared for college, and nearly 40% of college freshmen have to take remedial courses. CourseSky will offer every student the academic courses needed to prepare for college  admission and success. Learn at your own pace with videos, practice problems, and personalized skill reports. <a href="/users/sign_up">Start Learning Now!</a>
					</h4>
				</div>
			</div>
			<h3 class="section_small_header"> 4. Track Your Progress </h3>
			<div class="row">
				<div>
					<h4 class="intro">
						 Too many students leave high school unprepared for college, and nearly 40% of college freshmen have to take remedial courses. CourseSky will offer every student the academic courses needed to prepare for college  admission and success. Learn at your own pace with videos, practice problems, and personalized skill reports. <a href="/users/sign_up">Start Learning Now!</a>
					</h4>
				</div>
			</div>
			<a href="/users/sign_up" class="btn btn-success btn-large btn-join"><i class="icon-white icon-ok"></i> Get Started Now (it's free!)</a> 
		</div>
  </div>
</div>
