<%= provide(:title, 'Plans and Pricing') %>
 <div id="pricing" class="pricing_page">
    <div class="container">
        <!-- header -->
        <h2 class="section_header">
            <hr class="left visible-desktop">
            <span>
                Pricing 
                <small> See all plan details here</small>
            </span>
            <hr class="right visible-desktop">
        </h2>
        <div class="row cols2">
            <div class="span6">
                <div class="price_wrapper standard regular">
                    <div class="header">
                        <span>Standard</span>
                        <div class="price">
                            <span>Free</span>
                        </div>
                    </div>
                    <div class="section">
                        <h3>Passages of Lorem randomised
                            words which look slightly.</h3>
                            <ul class="perks">
                                <li>
                                    <i class="i_shuffle"></i>
                                    Cross-browser
                                </li>
                                <li>
                                    <i class="i_loading"></i>
                                    Fast-loading
                                </li>
                                <li>
                                    <i class="i_bookmark"></i>
                                    Bookmarkable URLs
                                </li>
                            </ul>
                            <a href="#" class="btn">Order now</a>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="price_wrapper pro">
                        <div class="header">
                            <span>Premium</span>
                            <div class="price">
                                <span>$ 10</span>
                                Per Month
                            </div>
                        </div>
                        <div class="section">
                            <h3>Passages of Lorem randomised
                                words which look slightly.</h3>
                                <ul class="perks">
                                    <li>
                                        <i class="i_shuffle"></i>
                                        Cross-browser
                                    </li>
                                    <li>
                                        <i class="i_loading"></i>
                                        Fast-loading
                                    </li>
                                    <li>
                                        <i class="i_bookmark"></i>
                                        Bookmarkable URLs
                                    </li>
                                    <li>
                                        <i class="i_bars"></i>
                                        W3C Standards
                                    </li>
                                </ul>
                                <a href="#" class="btn">Go Premium!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
