<%= provide(:title, 'Our Team') %>

<div id="about" class="about_page">
	<div class="container">
		<%= render 'shared/pages_sidebar' %>
		<!-- team header -->
		<div class="static-content">
			<h2 class="section_header">
				<hr class="left visible-desktop">
				<span>Team</span>
				<hr class="right visible-desktop">
			</h2>
			<!-- team bios -->
			<div class="row">
				<div class="span10 teammate teammate-main">
					<img src="assets/ope_200.jpg" class="" />
					<h4>Ope Bukola</h4>
					<p>Founder</p>
					<hr>
					<p class="description">
						Ope first became interested in education during college while working as a home-school teacher and tutor.  She realized that many students had the motivation to succeed, but could not afford the best academic resources. She spent many years working in education before deciding to launch CourseSky. Prior to CourseSky, Ope managed partnerships and marketing efforts for a non-profit provider of open-source textbooks. She's also worked in higher education and management consulting. She is a self-taught web developer, and a graduate of New York University where she earned a joint degree in Economics & Mathematics. When she’s not working on CourseSky, Ope enjoys listening to podcasts, reading magazines, blogging, and taking online classes. 
						<span class="social">
							<a href="mailto:ope@coursesky.com" target="_blank">
							<i class="icon-envelope"></i>
							</a>
							<a href="https://twitter.com/ope_bukola" target="_blank">
								<i class="icon-twitter"></i>
							</a>
							<a href="http://www.linkedin.com/in/opebukola" target="_blank">
							<i class="icon-linkedin"></i>
							</a>
							<a href="http://www.linkedin.com/in/opebukola" target="_blank">
							<i class="icon-tweet icon-large"></i>
							</a>
						</span>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="span10 teammate teammate-main">
					<img src="assets/tai_200.jpg" class="" />
					<h4>Taiesha Abrams</h4>
					<p>Math Instructor</p>
					<hr>
					<p class="description">
						Taiesha is an experienced instructor with a passion to use technology to improve K-12 education. Taiesha has served as a Teach for America corps member and mathematics teacher at KIPP NYC College Prep in New York City. She is a native New Yorker who attended Bronx Science then Duke University where she studied Mathematics. 
					</p>
				</div>
			</div>
			<div class="row">
				<div class="span10 teammate teammate-main">
					<img src="assets/cecelia_200.jpg" class="" />
					<h4>Cecilia Espinosa</h4>
					<p>Content Intern</p>
					<hr>
					<p class="description">
						Cecelia is an undergrad at Columbia University, studying Economics and Urban Studies.  With a strong interest in education, she has tutored elementary school students in reading and mathematics.  Cecelia likes to keep busy, but in her spare time, she enjoys reading, visiting her high school teachers, shopping, watching Friends on DVD, and going to Starbucks.
					</p>
				</div>
			</div>
		</div>
  </div>
</div>

