  <div class="accordion content-box-large" id="unit_accordion">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#unit_accordion" href="#watch">
          <h3>Watch</h3>
        </a>
      </div>
      <div id="watch" class="accordion-body collapse in">
        <div class="accordion-inner">
          <div class="video-large">
          	<iframe width="853" height="480" src="<%=@lesson_item.video_clip_source%>" frameborder="1" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#unit_accordion" href="#read">
          <h3>Read</h3>
        </a>
      </div>
      <div id="read" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= markdown @lesson_item.transcript %>
        </div>
      </div>
    </div>
  </div>
