<% if current_user %>
	<% if current_user.enrolled?(@course) %>
		<% if current_user.has_completed(@lesson) %>
			<%= 'You have completed this lesson' %>
		<% else %>
		<div id="complete-form">
			<%= link_to "Finished with this lesson? Mark Complete", complete_lesson_progression_path(enrolled_lesson_id: @lesson.id, enrolled_course_id: @lesson.course.id), method: :put, remote:true, class: 'btn' %>
		</div>
		<% end %>
	<% else %>
		<%= link_to "Finished with this lesson? Mark Complete", complete_lesson_progression_path(enrolled_lesson_id: @lesson.id, enrolled_course_id: @lesson.course.id), method: :put, class: 'btn' %>
		<% end %>
<% else %>
	<%= link_to "Finished with this lesson? Mark Complete", complete_lesson_progression_path(enrolled_lesson_id: @lesson.id, enrolled_course_id: @lesson.course.id), method: :put, class: 'btn' %>
<% end %>
