<% provide(:title, @course.title ) %>

<section>
  <%= render 'shared/course_info' %>
  <%= render 'shared/lesson_intro' %>
  <div question-pjax-container>
    <%= render 'shared/question_box' %>
  </div>
</section>


