<p>
	<h3> Create New Lessons for this Course </h3><br />
	<%= link_to 'Add Lesson', new_course_lesson_path(course_id: @course.id), class: "btn btn-primary" %>
</p>
<p>
	<h3> Copy or Move Lesson from Another Course </h3>
	[collection select from lessons that user owns but are not in present course]
</p>

