<ol>
  <% @lessons.each do |lesson| %>
    <h3>
    <li>
      <p>
      	<%= lesson.title %> | 
      	<%=link_to "Learn", lesson_item_path(lesson.lesson_items.first) %> |
      	<%= link_to "Practice", new_quiz_path(lesson_id: lesson.id) %>
        </p>
    </li>
  </h3>
  <% end %>
</ol>


