<p>
	<h3> Manage Current Lessons (reorder, edit, delete) </h3><br />
	<% @course.lessons.each do |lesson| %>
		<ul>
			<li>
				<%= link_to lesson.title, course_lesson_path(course_id: @course.id, id: lesson.id) %> |
				<%= link_to "Edit Lesson", edit_course_lesson_path(course_id: @course.id, id: lesson.id) %> |
				<%= link_to "Delete Lesson", course_lesson_path(course_id: @course.id, id: lesson.id), 
					method: :delete,
					data: {confirm: 'Are you sure?'} %>
			</li>
		</ul>
	<% end %>
</p>