<% if current_user && current_user.enrolled?(@course) %>
	<div class="progress progress-success">
		<div class="bar" style="width:<%= current_user.progress(@course) %>%;"><%= current_user.progress(@course) %>% complete
  	</div>
  </div>
 <% end %>
