<%= provide(:title, @course.title) %>
<%= render 'course_info' %>
<%= link_to 'Course Admin', manage_course_path(@course), class: "btn btn-primary" if @course.user == current_user %>
<hr />
<div class="explore">
Looking for another course?
<p>
	<%= link_to "Browse All Courses", courses_path, class: 'btn btn-large' %>
</p>
</div>
