<%= provide(:title, @course.title) %>
<%= render 'course_info' %>
<div class="explore">
Looking for something else?
<p>
	<%= link_to "Browse All Courses", courses_path, class: 'btn btn-large' %>
</p>
</div>
