<%= provide(:title, @course.title) %>
<%= render 'shared/course_nav' %>
<section>
  <div class="course-intro-title">Introduction to Algebra</div>
  <div class="course-intro-description">
  	<span class="course-intro-about"> About the Course</span>
      <%= markdown @course.description %>
  </div>
</section>
