<%= provide(:title, @course.title) %>
<%= render 'shared/course_intro' %>
<br />
<section>
  <h2><%= @course.title %></h2><br />
  <div class="course-description">
      <%= markdown @course.description %>
  </div>
</section>
