#authentication-dialog  {
  form {
    padding-top: 5px;
  }

  .form-actions {
    padding: 0 0 0 160px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: inherit;
    border: none;
  }

  .checkbox {
    min-height: auto;
  }

  .modal-body {
    max-height: none;
  }
}
