@import "bootstrap";
/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  padding: 30px 10px 20px 10px;
  background-color: #FAFAFA;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.7em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  /* text-align: center; */
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  /* color: $grayLight; */
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 25px;
  font-size: 1em;
  color: white;
  letter-spacing: -1px;
  padding-top: 2px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.nav {
  padding-top: 10px;
}
.navbar-inner {
  background: #FAFAFA; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #FAFAFA 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#FAFAFA 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#FAFAFA 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#FAFAFA 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#FAFAFA 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* courses*/

.course {
  border: solid 1px #CCC;
  width: 200px;
  padding: 10px 5px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  a {
    color: black;
  }
  .btn {
    width: 180px;
    align: center;
  }
}


.coursebox{
  width: 75%;
  margin: 0px auto;
}


.course-div{
  background-color:#FAFAFA; 
  padding: 5px 5px 30px;
  margin-bottom: 10px;
  #cover-image{
    float: left; 
    margin-right: 20px;
    margin-left: 10px;
  }
}

.progress-sidebar{
  border: 1px solid #E5E5E5;
  padding: 10px 10px 10px 10px;
  border-radius: 8px; 
  background-color:#FAFAFA; 
}

.content{
  padding: 8px 0px 10px; 
}

.explore{
  text-align: center;
  font-size: 2em;
}


/* lessons list */
#lessons_list .handle {
  font-size: 12px;
  color: #777;
  cursor: move;
}


/** LESSON VIEWS **/

.intro{
  border: 1px solid #E5E5E5;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  .start{
    font-size: 2.5em;
    float: left;
    margin-bottom: 10px;
    margin-right: 20px;
    color: #741885;
  }
}

.question-box{
  border: solid 2px #999; 
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  .prompt{
    padding: 5px 5px 5px 5px; 
    margin-bottom: 10px; 
    font-size: 1.5em;
  }
  .submit{
    text-align: center;
  }
  .answers {
    padding: 10px 10px 10px 40px;
  }
}

#hint {
  background: #E5E5E5;
  border-radius: 8px; 
  padding: 5px 5px 5px 5px;
}




/* comments */
.comments {
  margin: 8px 0;
  padding: 8px 15px;
  border-bottom: dotted 1px #999;
  width: 75%;
  font-size: 0.9em;
  /** border-radius: 12px; **/
  
}

.nested_comments {
  margin-left: 30px;
}
.nested_comments .nested_comments .nested_comments {
  margin-left: 0;
}

/* questions */
// .question-box{
//   border: dotted 1px #999; 
//   padding: 10px 10px 10px 10px;
//   margin-bottom: 50px;
//   margin-right: 10px;
//   .user-avatar{
//     float: left;
//     margin-bottom: 50px;
//     margin-right: 20px;
//     }
//   .prompt{
//     padding: 5px 10px 5px 10px; 
//     margin-bottom: 50px; 
//     h3 {
//       font-weight: normal;
//     }
//   }
//   .submit-tag{
//     text-align: center;
//   }
//   .hint-text a{
//     text-align: center;
//   }
//   li {
//     list-style: none;
//   }
// }

.response {
  font-size: 2em;
}


.coursenav {
  border: solid 2px #ccc;
  margin-left: 0px;
  margin-top: 70px;
  padding: 10px;
  width: 30%;
}

.course-info{
  text-align: right;
}

.questionnav li {
  margin-left: 0px;
  padding: 10px;
  display: inline;
}

/** search **/
.search{
  text-align: center;
}
