@import "bootstrap";
/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/** -------------------------------------------------- **/
/* UNIVERSAL */
/** -------------------------------------------------- **/

html {
  overflow-y: scroll;
}

body {
  padding-top: 80px;
  background-color: #F7F7F7;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  padding: 20px 10px 10px 10px;
  margin-bottom: 50px;
  h1 {
    margin-bottom: 15px;
  }
}

.control{
  font-weight: normal;
}

label.boolean {
  margin-left: 10px;
  display: inline-block;
}

/** -------------------------------------------------- **/
/* TYPOGRAPHY */
/** -------------------------------------------------- **/

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.7em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  /* text-align: center; */
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  /* color: $grayLight; */
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/** -------------------------------------------------- **/
/* ALERTS */
/** -------------------------------------------------- **/

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #d9831f;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3d9400;
}
.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #d9230f;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #029acf;
}


/** -------------------------------------------------- **/
/* HEADER */
/** -------------------------------------------------- **/

#logo {
  float: left;
  margin-right: 25px;
}

.nav {
  padding-top: 15px;
}
.navbar-inner {
  background: #fefefe; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #fefefe 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#fefefe 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#fefefe 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#fefefe 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
  border-bottom: 3px solid #32B2C6;
}

.navbar .nav > li > a {
  color: #000000;
  font-weight: normal;
  font-size: 1.2em; 
  :hover { 
      color: $grayDarker;
    }
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #555;
  border-bottom-color: #555;
}


/** -------------------------------------------------- **/
/* FOOTER */
/** -------------------------------------------------- **/

footer {
  margin-top: 45px;
  padding: 5px 5px 0px 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/** -------------------------------------------------- **/
/* HOME PAGE */
/** -------------------------------------------------- **/

/* courses index pages*/

.course-area{
  width: 90%;
  margin: 0px auto;
}

.start-button{

}

.btn-start{
  background-color: #741885;
  background: #741885;
  font-size: 2.2em;
  color: white;
  text-shadow: none;
  margin-left: 0px;
  margin-top: 30px; //need to figure out real way to center vertically
  &:hover {
    background-color: white;
  }
}



.course-box {
  width: 60%;
  border: solid 1px #741885;
  border-radius: 5px;
  background-color: white;
  height: 100px;
  padding: 10px 0px 10px 10px;
  margin: 0px 30px 20px 0px;
  float: left;
  // &:hover { 
  //     background-color: #32B2C6;
  //   }
  img{
    float: left;
    margin-right: 30px;
  }
  h3 {
    margin-bottom: 10px;
    font-size: 1.8em;
    font-weight: normal;
  }
}





.search{
  text-align: center;
}

/** -------------------------------------------------- **/
/* COURSE DETAIL */
/** -------------------------------------------------- **/

.course-description{
  border: 1px solid #ddd;
  padding: 20px 20px 20px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
}

.course-topics{
  border: 1px solid #ddd;
  padding: 20px 20px 20px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
}

.course-div{
  padding: 5px 5px 5px;
  margin-bottom: 10px;
  #cover-image{
    float: left; 
    margin-right: 20px;
    margin-left: 10px;
  }
}

.content{
  padding: 8px 0px 10px; 
}

.course-section{
  border: solid 1px #CCC;
  border-radius: 10px;
  background-color: white;
  width: 100px;
  padding: 10px 10px 10px 30px;
  float: left;
  margin-right: 30px;
  margin-bottom: 10px;
  h3 {
    margin:10px 0px 10px 0px;
    font-size: 1.5em;
    font-weight: normal;
  }
  &:hover { 
      background-color: #32B2C6;
    }
}

.progress-none a{
  color: white;
}

/** -------------------------------------------------- **/
/* COURSE PROGRESS */
/** -------------------------------------------------- **/

.course-progress-stats{
  border: 1px solid #ddd;
  padding: 20px 20px 20px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
  padding: 0px 0px 0px 0px;
  margin: 10px 0px 30px 0px;
  .progress-stat{
    float: left;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
  }
}

.course-progress-stats::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.skills-report{
  border: 1px solid #ddd;
  padding: 20px 20px 20px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
  padding: 10px 10px 10px 10px;
  margin: 10px 0px 10px 0px;
}

.progress-notice{
  font-size: 1.5em;
}


/** -------------------------------------------------- **/
/* MANAGE COURSE PAGE */
/** -------------------------------------------------- **/

#lessons_list .handle {
  font-size: 12px;
  color: #777;
  cursor: move;
}

/** -------------------------------------------------- **/
/* LESSON SHOW PAGE */
/** -------------------------------------------------- **/



.intro{
  border: 1px solid #E5E5E5; 
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
  background-color: white;
  .start{
    font-size: 1.5em; 
    margin-top: 3px;
    color: #741885;
  }
}


/** -------------------------------------------------- **/
/* LESSON ITEM SHOW PAGE */
/** -------------------------------------------------- **/

.content-box{
  border: 1px solid #ddd;
  padding: 20px 20px 20px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
  margin: 0px auto;
  margin-bottom: 20px;
  .video{
    margin: 5px 20px 5px 5px;
    float: left; 
  }
  .transcript{
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    overflow-x: scroll;
    height: 310px;
    background-color: #ddd;
  }
  .question-text{
    font-size: 1.4em;
    font-weight: bold;
  }
  .submit{
    text-align: center;
  }
  .answers {
    padding: 10px 10px 10px 40px;
  }
}


.response {
  font-size: 1.2em;
  padding-top: 5px;
}

.question-answered{
  border: 1px solid #bbb;
  padding: 5px 5px 5px 5px;
  margin-bottom: 10px;
}

.btn-prev{
  
}

.btn-next{
  float: right;
}

.btn-complete{
  float: right;
}

.content-box-large{
  border: 1px solid #ddd;
  padding: 20px 20px 20px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: white; 
}

/** -------------------------------------------------- **/
/* LESSON SHARE */
/** -------------------------------------------------- **/

.share-lesson{
  border: 1px solid #ddd;
  padding: 20px 20px 20px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
}

/** -------------------------------------------------- **/
/* QUIZZES */
/** -------------------------------------------------- **/

.quiz-intro{
  border: 1px solid #ddd;
  padding: 20px 20px 20px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
  li{
    font-size: 1.3em;
    padding-bottom: 1em;
  }
}
.quiz-question {
  border: 1px solid #E5E5E5; 
  padding: 10px 10px 10px 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: white;
  .question-text{
    font-size: 1.4em;
    font-weight: bold;
  }
}

.finish-quiz{
  float: right;
}

.quiz-review-box{
  border: 1px solid #E5E5E5; 
  padding: 10px 10px 15px 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: white;
}


.quiz-question-area{
  margin: 0px auto;
  margin-bottom: 30px;
  // width: 90%;
  border: 2px solid #E5E5E5; 
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  background-color: white;
}

.question-area{
  width: 60%;
  // border: 1px solid #E5E5E5; 
  // border-radius: 5px;
  // background-color: white;
  float: left;
  margin: 5px 20px 20px 20px;
  padding: 10px 10px 10px 10px;

  .question-text-new{
    margin-top: 30px;
  }
}

.question-counter{
  color: $gray;
  font-size: 1.1em;
  margin-bottom: 15px;
  }

.answer-area{
  float: right;
  width: 30%;
  // border: 1px solid #E5E5E5; 
  margin: 5px 10px 10px 10px;
  padding-bottom: 10px;
  // padding: 10px 10px 10px 10px;
}

.btn-quiz{
  background-color: #741885;
  background: #741885;
  font-size: 18px;
  color: white;
  text-shadow: none;
  width: 15%;
}

.quiz-question-area::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.quiz-response{
  color: $gray;
  font-size: 1.1em;
  margin-bottom: 10px;
}

input#attempt_response.string.quiz_response_form{
  // border: 4px solid $gray;
  height: 30px;
  line-height: 20px;
  font-size: 15px;
  // float: left;
  // vertical-align: middle;
}

.question-data{
  color: $gray;
}
/** -------------------------------------------------- **/
/* WHERE?? */
/** -------------------------------------------------- **/

.answer {
  border: 1px solid #bbb;
  padding: 5px;
  display: inline-block;
  margin-bottom: 15px;
  border-radius: 5px;
}



/** -------------------------------------------------- **/
/* COMMENTS*/
/** -------------------------------------------------- **/

.comments {
  margin: 8px 0;
  padding: 8px 15px;
  border-bottom: dotted 1px #999;
  width: 75%;
  font-size: 0.9em;
  /** border-radius: 12px; **/
  
}

.nested_comments {
  margin-left: 30px;
}
.nested_comments .nested_comments .nested_comments {
  margin-left: 0;
}

.coursenav {
  border: solid 2px #ccc;
  margin-left: 0px;
  margin-top: 70px;
  padding: 10px;
  width: 30%;
}

/** -------------------------------------------------- **/
/* AUTHENTICATION DIALOG*/
/** -------------------------------------------------- **/

#authentication-dialog  {
  form {
    padding-top: 5px;
  }

  .form-actions {
    padding: 0 0 0 160px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: inherit;
    border: none;
  }

  .checkbox {
    min-height: auto;
  }

  .modal-body {
    max-height: none;
  }
}




