@import "bootstrap";
@import "font-awesome";
/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

// /** -------------------------------------------------- **/
// /* UNIVERSAL */
// /** -------------------------------------------------- **/

html {
  overflow-y: scroll;
}

body {
  padding-top: 80px;
  background-color: #F7F7F7;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}



label.boolean {
  margin-left: 10px;
  display: inline-block;
}

.scrolltop {
  background-color: #F1F1F1;
  border: 1px solid darkGray;
  border-radius: 100px 100px 100px 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  display: none;
  height: 36px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  position: fixed;
  right: 2%;
  /*text-indent: -9999px;*/
  top: 50%;
  width: 36px;
  z-index: 33;
}
.scrolltop span {
  position: relative;
  top: 7px;
  left: 10px;
}

// /** -------------------------------------------------- **/
// /* TYPOGRAPHY */
// /** -------------------------------------------------- **/

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.7em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  /* text-align: center; */
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  /* color: $grayLight; */
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/** -------------------------------------------------- **/
/* ALERTS */
/** -------------------------------------------------- **/

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #d9831f;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3d9400;
}
.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #d9230f;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #029acf;
}


// /** -------------------------------------------------- **/
// /* HEADER */
// /** -------------------------------------------------- **/

#logo {
  float: left;
  margin-right: 25px;
}

.nav {
  padding-top: 15px;
}
.navbar-inner {
  background: #fefefe; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #fefefe 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#fefefe 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#fefefe 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#fefefe 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
  border-bottom: 3px solid #32B2C6;
}

.navbar .nav > li > a {
  color: #000000;
  font-weight: normal;
  font-size: 1.2em; 
  :hover { 
      color: $grayDarker;
    }
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #555;
  border-bottom-color: #555;
}



// /** -------------------------------------------------- **/
// /* FOOTER */
// /** -------------------------------------------------- **/

.footer {
  border-top: 3px solid #32B2C6;
  background: #fefefe; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #fefefe 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#fefefe 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#fefefe 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#fefefe 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

  margin: 20px 0px 10px 0px;
  padding: 20px 5px 20px 5px;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
    a:hover{
      text-decoration: none;
    } 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
  .icon-footer{
    margin-right: 10px;
  }
}


/** -------------------------------------------------- **/
/* HOME PAGE */
/** -------------------------------------------------- **/

.home-hero {
  background: image-url('home-main.jpg') 0 0 no-repeat;
  padding: 80px 180px 150px 50px; 
  padding-bottom: 150px;
  margin-bottom: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  .main-text{
    width: 70%;
  }
  h1{
    margin-bottom: 0;
    letter-spacing: -1px;
  }
  .subtext{
    font-weight: normal;
  }
  .image{
    float: right;
  }
  .btn-join{
  background-color: #741885;
  background: #741885;
  font-size: 1.4em;
  color: white;
  text-shadow: none;    
  }
}


.course-info{
  border: 1px solid #ddd;
  background-color: #fefefe;
  padding: 10px 5px 20px 5px;
  margin-bottom: 10px;
  img{
    float: left;
    margin-right: 30px;
  }
  h3 {
    margin-bottom: 10px;
    font-size: 1.8em;
    font-weight: normal;
  }
  .btn-course-start{
  float: right;
  background: #32B2C6;
  color: white;
  text-shadow: none;
  margin-right: 10px;
    &:hover {
      background-color: white;
    }   
  }
}


.search{
  text-align: center;
}



/** -------------------------------------------------- **/
/* ACTIVITY - NAVIGATION */
/** -------------------------------------------------- **/

.lesson-navigation{
  background-color: white;
  padding: 10px 10px 10px 10px;
  border: 1px solid #ddd;
  margin: 0px 0px 10px 0px;
  .lesson-title{
    font-size: 1.8em;
    padding-bottom: 10px;
    color: #741885;
  }
  .nav-lesson-links{
    font-size: 1.2em;
    float: right;
  }
}



.lesson-nav{
  clear: right;
}

.concept-icon{

}

.show-topics{
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #741885;
  padding-bottom: 10px;
}

.lesson-items{
  overflow: hidden;
  border: 1px solid #ddd;
  background-color: white;
  padding: 10px 10px 10px 10px;
  margin: 5px 0px 10px 0px;
  .in-lesson{
    float: left;
    margin-right: 10px;
    font-size: 1.2em;
  }
}

.lesson-items li{
  float: left;
  margin-right: 10px;
  list-style-type: none;

}

.lesson-items li a{
  display: block;
  // text-indent: -9999em; 
  // background: image-url('schoolhouse_grey.png') 0 0 no-repeat;
  // height: 50px;
  width: 50px;
  color: #696969;
}

.lesson-questions{
  overflow: hidden;
  border: 1px solid #ddd;
  background-color: white;
  padding: 10px 10px 10px 10px;
  margin: 5px 0px 10px 0px;
  .in-lesson{
    float: left;
    margin-right: 10px;
    font-size: 1.2em;
  }
  li{
    list-style-type: none;
    float: left;
  }
}


/** -------------------------------------------------- **/
/* ACTIVITY- CONCEPT SHOW */
/** -------------------------------------------------- **/

.lesson-activity{
  // width: 740px;
  // float: right;
  margin: 0px 0px 10px 0px;
  #watch{
    text-align: center
  }
  .accordion-group{
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 15px;
    background-color: white;
  }
}

.comment-section{
  clear: both;
}

/** -------------------------------------------------- **/
/* ACTIVITY-QUESTION SHOW */
/** -------------------------------------------------- **/

.activity-question{
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
}

.question-area-large{
  background-color: white;
  border: 2px solid #E5E5E5; 
  border-radius: 5px;
  padding: 10px 10px 20px 20px;
  margin: 0px 0px 10px 0px;
  .already-answered{
    border: 1px dotted;
    border-radius: none;
    padding: 5px 5px 5px 5px;
    margin: 0px 0px 5px 0px;
  }
  .question-text{
   width: 65%;
   float: left;
  }
  .answer-area{
    width: 30%;
  }
  .question-data{
    margin-top: 20px;
    color: $gray;
  }
}

.question-area-large::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

input#attempt_response.string.quiz_response_form{
  height: 30px;
  line-height: 20px;
  font-size: 15px;
}

/** -------------------------------------------------- **/
/* COURSE PRACTICE */
/** -------------------------------------------------- **/

.skills-listing{
  border: 1px solid #ddd;
  padding: 20px 20px 20px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
  margin-top: 10px;
}




/** -------------------------------------------------- **/
/* MANAGE COURSE PAGE */
/** -------------------------------------------------- **/

#lessons_list .handle {
  font-size: 12px;
  color: #777;
  cursor: move;
}

/** -------------------------------------------------- **/
/* LESSON SHOW PAGE */
/** -------------------------------------------------- **/



// .intro{
//   border: 1px solid #E5E5E5; 
//   padding: 10px 10px 10px 10px;
//   margin-bottom: 20px;
//   background-color: white;
//   .start{
//     font-size: 1.5em; 
//     margin-top: 3px;
//     color: #741885;
//   }
// }


/** -------------------------------------------------- **/
/* LESSON ITEM SHOW PAGE */
/** -------------------------------------------------- **/

.content-box{
  border: 1px solid #ddd;
  padding: 20px 20px 20px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
  margin: 0px auto;
  margin-bottom: 20px;
  .video{
    margin: 5px 20px 5px 5px;
    float: left; 
  }
  .transcript{
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    overflow-x: scroll;
    height: 310px;
    background-color: #ddd;
  }
  .question-text{
    font-size: 1.4em;
    font-weight: bold;
  }
  .submit{
    text-align: center;
  }
  .answers {
    padding: 10px 10px 10px 40px;
  }
}


.response {
  font-size: 1.2em;
  padding-top: 5px;
}

.question-answered{
  border: 1px solid #bbb;
  padding: 5px 5px 5px 5px;
  margin-bottom: 10px;
}

.btn-prev{
  
}

.btn-next{
  float: right;
}

.btn-complete{
  float: right;
}

.content-box-large{
  border: 1px solid #ddd;
  padding: 20px 20px 20px 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: white; 
}

.watch-read a{
  font-size: 1.3em;
  font-weight: bold;
}

.watch-read{
  padding: 10px 10px 10px 10px;
  // font-weight: bold;
  font-size: 1.3em;
}

.modal{
  width: 45%;
}


/** -------------------------------------------------- **/
/* LESSON SHARE */
/** -------------------------------------------------- **/

.share-lesson{
  border: 1px solid #ddd;
  padding: 20px 20px 20px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
}

/** -------------------------------------------------- **/
/* QUIZZES */
/** -------------------------------------------------- **/

.quiz-intro{
  border: 1px solid #ddd;
  padding: 20px 20px 20px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
  li{
    font-size: 1.3em;
    padding-bottom: 1em;
  }
}
.quiz-question {
  border: 1px solid #E5E5E5; 
  padding: 10px 10px 10px 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: white;
  .question-text{
    font-size: 1.4em;
    font-weight: bold;
  }
}

.finish-quiz{
  float: right;
}

.quiz-review-box{
  border: 1px solid #E5E5E5; 
  padding: 10px 10px 15px 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: white;
}




.questionss-area{
  width: 60%;
  // border: 1px solid #E5E5E5; 
  // border-radius: 5px;
  // background-color: white;
  float: left;
  margin: 5px 20px 20px 20px;
  padding: 10px 10px 10px 10px;

  .question-text-new{
    margin-top: 30px;
  }
}

.question-counter{
  color: $gray;
  font-size: 1.1em;
  margin-bottom: 15px;
  }

.answer-area{
  float: right;
  width: 30%;
  // border: 1px solid #E5E5E5; 
  margin: 5px 10px 10px 10px;
  padding-bottom: 10px;
  // padding: 10px 10px 10px 10px;
  .question-data{
    margin-top: 20px;
  }
}

.btn-quiz{
  background-color: #741885;
  background: #741885;
  font-size: 18px;
  color: white;
  text-shadow: none;
  width: 15%;
}

.quiz-question-area::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.quiz-response{
  color: $gray;
  font-size: 1.1em;
  margin-bottom: 15px;
  font-weight: bold;
}

// input#attempt_response.string.quiz_response_form{
//   height: 30px;
//   line-height: 20px;
//   font-size: 15px;

// }

// .question-data{
//   color: $gray;
// }
/** -------------------------------------------------- **/
/* WHERE?? */
/** -------------------------------------------------- **/

.answer {
  border: 1px solid #bbb;
  padding: 5px;
  display: inline-block;
  margin-bottom: 15px;
  border-radius: 5px;
}



/** -------------------------------------------------- **/
/* COMMENTS*/
/** -------------------------------------------------- **/

.comment-section{
  hr{
    width: 10px;
  }
  .ask{
    font-size: 2em;
    color: #999;
  }
}
.comments {
  margin: 8px 0;
  padding: 8px 15px;
  border-bottom: dotted 1px #999;
  width: 90%;
  font-size: 0.9em;
  /** border-radius: 12px; **/
  
}

.nested_comments {
  margin-left: 30px;
}
.nested_comments .nested_comments .nested_comments {
  margin-left: 0;
}

.coursenav {
  border: solid 2px #ccc;
  margin-left: 0px;
  margin-top: 70px;
  padding: 10px;
  width: 30%;
}

/** -------------------------------------------------- **/
/* AUTHENTICATION DIALOG*/
/** -------------------------------------------------- **/

#authentication-dialog  {
  form {
    padding-top: 5px;
  }

  .form-actions {
    padding: 0 0 0 160px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: inherit;
    border: none;
  }

  .checkbox {
    min-height: auto;
  }

  .modal-body {
    max-height: none;
  }
}




