.icon-tweet {
    background-image: url("http://cdn1.iconfinder.com/data/icons/social/16/picons33.png");
    background-position: center center;
    // height: 16px;
    // line-height: 16px;
    // width: 16px;
}

.icon-youtube {
    background-image: url("http://cdn1.iconfinder.com/data/icons/inFocus_social_media/40/youtube.png");
    background-position: center center;
    height: 40px;
    line-height: 40px;
    width: 40px;
}
